.body {
	height: 500px;
	background-image: url("../assets/wash.JPG");
	background-size: 1500px;
	background-position-x: center;
	background-position-y: -120px;
	background-repeat: no-repeat;
}

.perimeter {
	border: solid 3px white;
	padding: 50px 5%;
	margin: 50px;
	height: 100%;
}

.name {
	text-align: center;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: 100;
	letter-spacing: 3px;
	color: white;
	text-transform: uppercase;
	font-size: 4em;
}

.icon {
	height: 75px;
	width: 75px;
	display: inline-block;
}

.twitter {
	background-image: url("../assets/twitter-white.png");
}

.github {
	background-image: url("../assets/gh-white.png");
}

.dribbble {
	background-image: url("../assets/dribbble-white.png");
}

.linkedin {
	background-image: url("../assets/linkedin-white.png");
}